.App {
  display: flex;
  margin: 0rem 12rem;
  width: 80vw;
}

.leftSection {
  margin-top: 15rem;
  width: 20vw;
  /* padding: 14rem 4rem; */
}
.rightSection {
  position: fixed;
  width: 50vw;
  margin: 0;
  padding: 0;
  margin-left: 33rem;
}

.circle {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  /* margin-left: 6rem; */
}
.imgDiv {
  position: relative;
  top: -40rem;
  left: -6rem;
}

.animate {
  display: inline-block;
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 0.3s ease-in-out 2 alternate;
}
.animate2 {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 1s ease-in-out 2 alternate;
}
.animate3 {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 0.3s ease-in-out 2 alternate;
}
.animate4 {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 0.3s ease-in-out 2 alternate;
}
.animate5 {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 0.3s ease-in-out 2 alternate;
}
.animate6 {
  border-radius: 50%;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: leaves 0.3s ease-in-out 2 alternate;
}

@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
